.logo {
  background: linear-gradient(to right, #161480, #eb7e30);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@media (min-width: 992px) {
  .custom-h1-lg {
    font-size: 5rem;
  }
}

.custom-hero {
  padding-left: 3rem;
  padding-right: 3rem;
}

@media (max-width: 991px) {
  .custom-h1-lg {
    font-size: 3rem;
  }

  .custom-hero {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media (max-width: 510px) {
  .custom-hero {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.input-on-focus {
  outline: none;
  box-shadow: none;
  border-color: transparent;
}

@media (max-width: 576px) {
  .w-sm-75 {
    width: 75%;
  }
}

@media (min-width: 992px) {
  .w-lg-100 {
    width: 100%;
  }
}
